:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    /* max-width: 1500px; */
    margin: 0 auto;
    background: #F8FAFE;

    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

    position: relative;
    width: 1500px;

    


}

.page__header {

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px 51px;
    gap: 10px;

    width: 100%;
    height: 80px;
    margin: 0 auto;

    position: fixed;
    z-index: 100;
    inset: 0;

    background: rgb(228, 234, 242);
}

.page__content-head {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}


.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    gap: 9px;



}


.logo-title__name {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color: #000000;
}

.logo-title__logo-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;

    color: #FF5722;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 20px;

}

.icons__favourite {
    position: relative;
    display: inline-block;

}

.icons__avatar {
    display: inline-block;
}

.icone-heart {
    /* width: 43.37px; */
    height: 34.67px;
}

.counter-like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;

    position: absolute;
    width: 26px;
    height: 20px;
    left: 24px;
    top: 0px;

    background: #F36223;
    border-radius: 50px;
}

.counter-like__number {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;


    color: #FFFFFF;
}

.icons__basket {
    position: relative;
    display: inline-block;
}

.icons__purchase {
    display: inline-block;

}

.icon-basket {
    height: 34.67px;
}

.counter-goods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;

    position: absolute;
    height: 20px;
    left: 30px;
    top: 0px;

    background: #F36223;
    border-radius: 50px;
}

.counter-goods__product {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
}

.page__crumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    position: absolute;
    right: 0px;
    left: 50px;
    top: 91px;

}


.bread-crumbs__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #008CF0;
    text-decoration: none;
}

.bread-crumbs__link:hover {
    color: #F36223;
    text-decoration: none;
}

.bread-crumbs__link:active {
    color: #A93A09;
}

.page__product {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    position: absolute;
    right: 0px;
    left: 50px;
    top: 126px;

}

.title_size_32 {
    font-weight: 700;
    font-size: 32px;

}

.page__foto-phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    position: absolute;

    top: 195px;
    left: 50px;
    right: 50px;

}

.foto-big__img {
    height: 387px;

}


/*Контейнер с характеристиками */

.page__main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;

    position: absolute;
    right: 50px;
    left: 50px;

    top: 612px;

}


.page__all-characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    flex-grow: 1;

    position: relative;

}

.product-color {
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: absolute;

    left: 0px;
    top: 0px;
    right: 0px;
}


.title_size_16 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}


.colors {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.color {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 80px;
    height: 80px;

    background: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.color:hover {
    background: #F2F2F2;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.color:focus {
    border: 2px solid #A93A09;
    border-radius: 4px;
}

.color__list {
    height: 60px;

}

.color_vibor {
    border: 2px solid #F36223;
    border-radius: 4px;
}

.memory-configuration {
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: absolute;

    left: 0px;
    top: 144px;
    right: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}



.btn__memory {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.btn {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    height: 39px;

    background: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.btn_vibor {
    border: 2px solid #F36223;
    border-radius: 4px;
}

.btn:hover {
    background: #F2F2F2;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.btn:focus {
    border: 2px solid #A93A09;
    border-radius: 4px;
}

.product-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

    position: absolute;

    left: 0px;
    top: 247px;
    right: 0px
}


.marker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}


.marker__params {
    margin-left: 14px;
    font-weight: 500;
    font-size: 16px;
}

::marker {
    width: 10px;
    height: 10px;
    color: #888888;
    list-style-type: disc;

}

.fat-link {
    color: #008CF0;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.fat-link:hover {
    color: #F36223;
    text-decoration: none;
}

.fat-link:active {
    color: #A93A09;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: absolute;

    left: 0px;
    top: 475px;
    right: 0px;


}



.paragraphs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

.paragraphs__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.table-models {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    position: absolute;
    right: 0px;
    left: 0px;
    top: 926px;

}

.table {
    border-collapse: collapse;
    border: 1px solid #888888;
    width: 100%;

    text-align: center;
}

.table__cell {
    padding: 10px;
    border-right: 1px solid #888888;
}

.table__head {
    border: 1px solid #888888;

}


.table tr:last-child td th {
    border-bottom: none;
}

.table__cell:last-child {
    border-right: none;
}

.table__body:hover {
    background: #F2F2F2;
    border-width: 0px 1px;
    border-style: solid;
    border-color: #888888;

}



.page__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: relative;
    width: 420px;
}


.important {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.heder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 229px;
}

.cost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

}

.like {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

}


.hurt:hover {
    fill: #F36223;
}

.hurt:active {
    fill: #A93A09;
}

.cost__old-cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

}

.cost__old {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    text-decoration-line: line-through;


    color: #888888;

}

.cost__discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;


    background: #F36223;
    border-radius: 500px;
}

.cost__sale {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.cost__cost-current {

    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    gap: 10px;
}

.delivery__shipment {

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}



.basket__btn {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 78px;

    background: #F36223;
    border: 0;
    border-radius: 4px;

    color: #FFFFFF;
    cursor: pointer;
}

.basket__btn:hover {
    background: #DA4A0C;
    border-radius: 4px;
}

.basket__btn:active {
    background: #A93A09;
    border-radius: 4px;
}

.basket__btn::before {
    content: "";
    display: inline-block;
    background-image: url("../img/basket.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}



.ads {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

}



.ads__ads-name {
    color: #888888;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


.iframe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}


.iframe__ads-block {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    flex-grow: 1;
    width: 420px;

    height: 300px;

    background: #F0F0F0;

    border: 1px dashed #888888;

}

.page__reviw-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;


    position: absolute;
    right: 570px;
    left: 50px;
    top: 1778px;
}

.reviw-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
}

.reviw-block__wrapper {
    display: flex;
    gap: 10px;
}

.reviw-block__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.reviw-block__count {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}

.reviw-block__reviw-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 25px;
    padding-bottom: 30px;

}

.review {
    display: flex;
    gap: 30px;
}

.review__foto {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.review__name {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

.review__reting {
    margin-top: 10px;
}

.review__parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.bold-text {
    font-weight: 700;
    font-size: 14p;
}

.review__parameter {
    font-weight: 400;
    font-size: 14px;
}

.separator {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 170px;

}

.separator__border {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 170px;

    width: 100%;
    height: 1px;
    border: 1px dashed #888888;


}

.page__form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 15px;

    position: absolute;
    right: 570px;
    left: 170px;
    top: 2440px;


}


.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__header {
    font-weight: 700;
    font-size: 16px;
}

.form__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0px;
    gap: 40px;
}

.form__text-rev {
    vertical-align: top;

}


.input_size_495 {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border: 1px solid #888888;
    font-weight: 500;
    font-size: 16px;
    width: 495px;
    color: #000000;


}

.input_size_175 {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border: 1px solid #888888;
    width: 175px;
    font-weight: 500;
    font-size: 16px;
    color: #000000;

}

.input_size_495:hover {
    border: 1px solid #000000;
}

.input_size_175:hover {
    border: 1px solid #000000;
}

.textarea_size_710:hover {
    border: 1px solid #000000;
}

.input_size_495:focus {
    border: 1px solid #000000;
}

.input_size_175:focus {
    border: 1px solid #000000;
}

.textarea_size_710:focus {
    border: 1px solid #000000;
}

.textarea_size_710 {
    padding: 15px 20px;

    height: 190px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #888888;
    width: 100%;

    resize: none;

}



.form__footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.form__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    height: 39px;

    background: #F36223;
    border-radius: 4px;
    border: #F36223;
    cursor: pointer;
}

.form__btn:hover {
    background: #DA4A0C;
    border-radius: 4px;
}

.form__btn:active {
    background: #A93A09;
    border-radius: 4px;
}

.form__btn-rev {
    font-weight: 500;
    font-size: 16px;

    color: #FFFFFF;
}

.footer {

    position: absolute;
    top: 2874px;
    left: 0px;
    right: 0px;

    padding: 0px 50px;
    background: #F2F2F2;
    width: 100%;




}

.footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 685px; */
    padding: 30px 0px;


}



.footer-block__fat {
    font-weight: 700;
    font-size: 14px;
}

.footer-block__simple {
    font-weight: 700;
    font-size: 14px;
    color: #f52;
}

.footer-block__copyright {
    font-weight: 400;
    font-size: 14px;
}

.footer-block__btn-up {
    font-weight: 400;
    font-size: 16px;
}

.footer-block__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #008CF0;
    text-decoration: none;
}

.footer-block__link:hover {
    color: #F36223;
    text-decoration: none;
}

.footer-block__link:active {
    color: #A93A09;