@media (max-width: 1024px) {
    .page {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .page__header {
        padding: 0px 15px;
    }

    .page__crumbs {
        left: 15px;
        right: 15px;
    }

    .page__product {
        left: 15px;
        right: 15px;
    }

    .page__foto-phone {
        left: 15px;
        right: 15px;
    }

    .foto-big__img {
        height: 272px;
    }

    .page__main {
        left: 15px;
        top: 497px;
        right: 15px;
        gap: 40px;
    }

    .table-models {
        display: none;
    }

    .page__reviw-section {
        left: 15px;
        top: 1532px;
        right: 415px;

    }

    .review__foto {
        width: 100px;
        height: 100px;
        flex-shrink: 0;

    }

    .review__reting {
        width: 100px;
        height: 20px;
        flex-shrink: 0;

    }

    .page__form-section {
        left: 15px;
        top: 2198px;
        right: 415px;
    }

    .page__footer {
        top: 2650px;
        padding: 0px 15px;
        width: 1024px;
    }

}