body {
    margin: 0;
    height: 100vh;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}